@using ToDoList.Web.Services
@using ToDoList.DTOs
@inject NavigationManager NavigationManager
@inject IToDoService Service

<div class="container">
    <h3>Create a ToDo</h3>
</div>

<EditForm Model="@ToDo" OnSubmit="OnFormSubmit">
    <div class="container">
        <div class="row m-3">
            <label class="h4">Title:</label>
            <InputText @bind-Value="@ToDo.Title"/>
        </div>
        <div class="row m-3">
            <label class="h4">Description:</label>
            <InputTextArea @bind-Value="@ToDo.Description" rows="12"/>
        </div>
        <button type="submit" class="btn btn-lg btn-primary">Submit</button>
        </div>
</EditForm>

@code {
    AddToDo ToDo = new();

    async Task OnFormSubmit()
    {
        await Service.AddToDo(ToDo);
        NavigationManager.NavigateTo("/todo");
    }
}